* {
  box-sizing: border-box;
}

body, html {
  font-family: "Roboto", sans-serif;
}
  
  body {
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  
  header h1 {
    color: teal;
    font-weight: 300;
    font-size: 4rem;
    margin: 3rem 0;
    text-align: center;
  }
  
  
  
  main {
    display: flex;
    flex-direction: column;
    width: 640px;
    min-width: 320px;
  }
  
  
  section {
    background-color: lightseagreen;
    border: 1px solid darkgreen;
    padding: 1.5rem;
    border-radius: 4px;
    margin-bottom: 30px;
  }
  
  .section-title {
    display: block;
    margin: .5rem 0;
    font-size: 2rem;
    font-weight: 400;
  }

  table, th, td {
    border: 2px solid rgba(0,0,0,0.6);
    border-collapse: collapse;
  }

  th {
    background-color: rgba(0,0,0,0.6);
    color: #f9dd76;
    font-weight: 400;
    padding: 4px;
  }

  td {
    padding: 4px;
    text-align: center;
  }

  td pre {
    float: none;
  }

  pre {
    background-color: #f9dd76;
    padding: 2px 8px;
    border-radius: 2px;
    float: left;
    clear: left;
    margin: .3rem 0;

    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    word-wrap: break-word;
  }

  pre.inline {
    display: inline;
    padding: 2px;
    margin: 0 4px;
  }

  a {
    text-decoration: none;
    box-decoration-break: clone;
    background-color: lightblue;
    padding: 2px 8px;
    border-radius: 2px;
  }

  /* Begin Form Styles */
  form {
    display: flex;
    flex-direction: column;
  }

  .form-title {
    color: #f8c406;
    font-size: 1.6rem;
    font-weight: 200;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.6);
  }

  .input-row {
    display: block;
    margin: 10px 0;
  }

  .input-row.checkboxes {
    display: flex;
  }

  .checkboxes label {
    line-height: 1.2;
    font-size: 1rem;
  }

  input[type="text"], textarea {
    box-sizing: border-box;
    padding: .3rem;
    border: 2px solid black;
    display: block;
    width: 100%;
  }
  
  label {
    color: rgba(0,0,0,0.8);
    font-weight: 400;
    font-size: .7rem;
    margin-left: 4px;
  }

  label span {
    color: rgba(0,0,0,0.6);
  }

  .submit-btn {
    background: teal;
    color: white;
    padding: .3rem;
    border: 2px solid black;
    width: 120px;
  }
  /* End Form Styles */

  /* Start Thread Styles */
  .thread {
    display: flex;
    flex-direction: column;
    border: 1px solid darkgreen;
    background-color: rgb(89, 212, 206);
    padding: .6rem;
    padding-top: 0;
    border-radius: 4px;
    margin-bottom: 30px;
  }


  .info-item {
    font-size: .7rem;
    margin-right: 1rem;
  }

  .thread-report-btn {
    display: inline-block;
    margin: .5rem 0;
    background-color: gold;
    border-radius: 4px;
  }

  .thread-text {
    font-size: 1.2rem;
    font-weight: 200;
    margin: 1rem;
    margin-bottom: 1rem;
  }

  .thread-replies {
    background-color: paleturquoise;
    border: 1px solid darkgreen;
    border-radius: 4px;
    margin: 1rem 0;
    margin-left: 2rem;
    margin-right: 1rem;
    padding: .6rem;
  }

  .reply {
    padding: 10px;
    border-bottom: 1px solid darkgreen;
  }

  .reply:last-child {
    border-bottom: none;
  }

  .reply-text {
    margin: .8rem;
  }

  .reply-delete-row {
    display: flex;
    justify-content: flex-end;
  }

  .reply-delete-row .reply-delete-input {
    width: 180px;
    border: 1px solid darkgreen;
  }

  .reply-delete-row .reply-delete-btn {
    background: none;
    background-color: lightsalmon;
    border: 2px solid darkgreen;
    margin-left: 1rem;
  }

  .new-thread-reply textarea {
    border: 1px solid darkgreen;
  }



   /* End Thread Styles */

  .hidden {
    visibility: hidden;
  }
  
  
  @media screen and (max-width: 768px) {
    header h1 {
      font-size: 3rem;
    }
  
    main {
      width: 100%;
    }
  }
  
  @media screen and (max-width: 420px) {
    header h1 {
      font-size: 2.4rem;
    }
  }